# Directory where the logs are stored.
# The default file is named as /log/foreman_maintain.log
:log_dir: 'log'

# Logger levels: mention one of debug, info, warning, error, fatal
:log_level: 'error'

# Mention log file size in KB. Default set to 10000KB.
# :log_file_size: 10000

# Mention definitions directories. Default
# :definitions_dirs:

# Mention file path to store data
# :storage_file: 'data.yml'

# Mention directory to store whole backup data
# :backup_dir: '/lib/foreman-maintain'

# Mention path where foreman-proxy certificates stored on filesystem
# :foreman_proxy_cert_path: '/etc/foreman'

# Mention directory path to store candlepin db backups
# :db_backup_dir: '/var/lib/foreman-maintain/db-backups'

# Disable commands and subcommands. Default: []
# :disable_commands: [ 'SnapshotBackupCommand' ]

# Location of cache for bash completion
:completion_cache_file: '~/.cache/foreman_maintain_completion.yml'

# Mention true/false.
# Value true will to enable cron service stop/restart on maintenance-mode start/stop
# :manage_crond: true
